<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Canoe Federation of India</title>
    <!-- Compiled and minified CSS -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
  </head>
  <body>
    <div class="preloader">
      <div class="circle">
      </div>
    </div>
    <section>
      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a href="{% url 'website:index' %}" class="brand-logo">Canoe Federation of India</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
<!--
            <li><a href="{% url 'website:index' %}">Home</a></li>
-->
            <li><a href="{% url 'website:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'website:events' %}">Events</a></li>
            <li><a href="{% url 'website:office_bearers' %}">Office Bearers</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li><a href="{% url 'website:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'website:events' %}">Events</a></li>
            <li><a href="{% url 'website:office_bearers' %}">Office Bearers</a></li>
      </ul>
      </div>
    </section>
    <section class="register container">
    <h3>Registration</h3>
    <div class="row">
   <form class="col s12" method="POST"> {% csrf_token %}
     <div class="row">
       <div class="input-field col s6">
         <input id="first_name" type="text" class="validate" name="fname">
         <label for="first_name">First Name</label>
       </div>
       <div class="input-field col s6">
         <input id="last_name" type="text" class="validate" name="lname">
         <label for="last_name">Last Name</label>
       </div>
       </div>
       <div class="row">
       <div class="input-field col s6">
         <input id="ph_number" type="tel" class="validate" name="phone">
         <label for="ph_number">Phone Number</label>
       </div>
       <div class="input-field col s6">
         <input id="email" type="email" class="validate" name="email">
         <label for="email">Email</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s6">
         <input id="dob" type="date"  max="99" min="5" class="validate" name="dob">
         <label for="dob">Date Of Birth</label>
       </div>
       <div class="input-field col s6">
         <input id="aadhaar" type="number" min="0" max="999999999999" class="validate" name="aadhaar">
         <label for="aadhaar">Aadhaar</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s6">
         <input id="city" type="text" class="validate" name="city">
         <label for="city">City</label>
       </div>
       <div class="input-field col s6">
         <input id="state" type="text" class="validate" name="state">
         <label for="state">State</label>
       </div>
     </div>
     <div class="row">
       <div class="col s12">
          <input type="submit" name="submit" value="Register" class="btn btn-large btn-cfi">
       </div>
     </div>
   </form>
 </div>
    </section>
    <footer>
      <div class="row">
        <div class="col s12 m4">
        </div>
        <div class="col s12 m4">
          canoeadmin@canoefederationofindia.in<br/>
          +91 8512008888<br/><br/>
          Backdoor Hype, 22 North, <br/>
          Wisconsin, MI
        </div>
        <div class="col 12 m4">
          <ul>
          <li><a href="{% url 'website:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'website:events' %}">Events</a></li>
            <li><a href="{% url 'website:office_bearers' %}">Office Bearers</a></li>
            <hr style="width: 50%; margin: 10px 0;">
            <li>Meet the Developers</li>
          </ul>
        </div>
      </div>
      <div class="row center copyright">
        <p>&copy; Canoe Federation of India 2018</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
    $(window).on('load', function() {
        $(".circle").fadeOut();
        $(".preloader").delay(1000).fadeOut('slow');
    });
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.parallax').parallax();
      $('nav').css('background','black');
    });
    </script>
  </body>
</html>
